archive/original-v3/daily-ad-ops-checklist-v3.json
{"createdAt":"2025-08-01T23:15:58.475Z","updatedAt":"2025-08-02T00:03:30.000Z","id":"MEqMXD2wxJmkQEo4","name":"Daily Ad Ops Checklist v3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"383d4360-5361-4b25-84d2-86b5631cffc2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,304]},{"parameters":{"assignments":{"assignments":[{"id":"prompt-field","name":"prompt","type":"string","value":"You are a senior Meta Ads performance analyst for 38TERA. Execute a daily diagnostics checklist for account ID \"732630268714732\" and output ONLY the final report starting immediately with the title.\n\nCRITICAL FORMATTING RULES:\n- Start immediately with: DAILY META ADS DIAGNOSTICS REPORT (no preamble)\n- Use code blocks (```) for all tables to ensure proper alignment\n- Use trend arrows: ↗️ for positive, ↘️ for negative, ➡️ for flat\n- Use status emojis: 🟢 Strong/Good, 🟡 Moderate/OK, 🔴 Poor/Alert\n- Do not include internal prompt instructions in output\n\nRequired output format:\n\n*DAILY META ADS DIAGNOSTICS REPORT*\n38TERA - Account ID: 732630268714732 - Date: [Yesterday Date]\n\n*1. CORE PERFORMANCE METRICS*\nYesterday vs Week-to-Date Avg vs Same Day Last Week:\n\n```\nStatus | Metric          | Yesterday | WTD Avg  | LW Avg   | WTD Trend | LW Trend\n-------|-----------------|-----------|----------|----------|-----------|----------\n✅/❌   | Total Spend     | $X,XXX    | $X,XXX   | $X,XXX   | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | CPM             | $XX.XX    | $XX.XX   | $XX.XX   | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | CPC             | $X.XX     | $X.XX    | $X.XX    | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | CTR             | X.XX%     | X.XX%    | X.XX%    | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | Conversions     | XX        | XX       | XX       | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | CAC             | $XX.XX    | $XX.XX   | $XX.XX   | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | Conversion Rate | X.XX%     | X.XX%    | X.XX%    | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n✅/❌   | ROAS            | X.XXx     | X.XXx    | X.XXx    | ↗️/↘️ ±XX% | ↗️/↘️ ±XX%\n```\n\n*2. TOP CAMPAIGNS BY SPEND*\n\n```\nCampaign Name                           | Spend | % Total | CAC   | ROAS | Status\n----------------------------------------|-------|---------|-------|------|--------\n[Campaign Name]                         | $XXX  | XX%     | $XX   | X.XX | 🟢/🟡/🔴\n[Campaign Name]                         | $XXX  | XX%     | $XX   | X.XX | 🟢/🟡/🔴\n[Campaign Name]                         | $XXX  | XX%     | $XX   | X.XX | 🟢/🟡/🔴\n[Campaign Name]                         | $XXX  | XX%     | $XX   | X.XX | 🟢/🟡/🔴\n[Campaign Name]                         | $XXX  | XX%     | $XX   | X.XX | 🟢/🟡/🔴\n```\n\n*3. CREATIVE PERFORMANCE ALERTS*\nDay-over-day spend changes >20%:\n\n```\nCreative Name                           | Yesterday | Day Before | Change | Status\n----------------------------------------|-----------|------------|--------|--------\n[Creative Name]                         | $XXX      | $XXX       | ↘️ -XX% | 🔴/🟡\n[Creative Name]                         | $XXX      | $XXX       | ↘️ -XX% | 🔴/🟡\n```\n\n*4. AUDIENCE ANALYSIS*\n\n```\nSegment      | Spend | % Total | CAC   | ROAS | Trend     | Status\n-------------|-------|---------|-------|------|-----------|--------\nRemarketing  | $XXX  | XX%     | $XX   | X.XX | ↗️/↘️ ±XX% | 🟢/🟡/🔴\nProspecting  | $XXX  | XX%     | $XX   | X.XX | ↗️/↘️ ±XX% | 🟢/🟡/🔴\n```\n\n*STATUS SUMMARY:*\n🟢 ALL SYSTEMS NORMAL\n🟡 ATTENTION NEEDED\n🔴 PRIORITY ISSUES\n\nIssues flagged: [X]\nTotal spend: $[X,XXX]\n\n*ACTION ITEMS:*\n\n🔴 IMMEDIATE (Today):\n• [Specific urgent action if any]\n• [Second urgent action if needed]\n\n🟡 THIS WEEK:\n• [Medium priority action]\n• [Optimization opportunity]\n\n🟢 MONITOR:\n• [Items to track]\n• [Positive trends to maintain]\n\nAnalyze the actual account data and populate all tables with real numbers. Use appropriate status emojis based on performance thresholds: ROAS >1 = 🟢, 0.8-1 = 🟡, <0.8 = 🔴. For CAC trends: improving = 🟢, stable = 🟡, worsening = 🔴."}]},"options":{}},"id":"335a5088-5618-49ec-aed9-03709d5c3aa2","name":"Report Prompt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,304]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are an expert Meta Ads analyst with access to comprehensive advertising data through MCP tools. Execute the analysis checklist and output ONLY the final formatted report starting immediately with the title. Use visual indicators (emojis, arrows) for quick scanning. No preamble or commentary.","maxIterations":25}},"id":"de17ddef-ae9e-4c78-a46c-a2a1e8ea8cfd","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[320,304],"retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"endpointUrl":"https://apps.gomarble.ai/mcp-api/sse","authentication":"bearerAuth"},"id":"3778682a-4ebd-431b-946b-d6f04fe8edd3","name":"GoMarble MCP Client","type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[496,544],"credentials":{"httpBearerAuth":{"id":"xdh6Yp722ibHs9Nd","name":"Bearer Auth account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"id"},"options":{}},"id":"a20c3547-4cb1-40b0-888d-78993c97343c","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[336,544],"credentials":{"anthropicApi":{"id":"6L1pdyKeE7yG7BA1","name":"Anthropic account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C098MCUF6QJ","mode":"list","cachedResultName":"internal_38tera_reports"},"text":"={{ $json.output }}","otherOptions":{"mrkdwn":true}},"id":"da00ef5e-a1ff-40e0-ad48-bdb13abb800f","name":"Slack Post","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[736,304],"webhookId":"56abb230-062d-4170-a990-bd8858da6b71","credentials":{"slackOAuth2Api":{"id":"kPX3XYbf07UU7kTC","name":"Slack account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Report Prompt","type":"main","index":0}]]},"Report Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Slack Post","type":"main","index":0}]]},"GoMarble MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d5cbfc8f-c6b4-4e46-a622-7393ab877ec6","triggerCount":0,"shared":[{"createdAt":"2025-08-01T23:15:58.478Z","updatedAt":"2025-08-01T23:15:58.478Z","role":"workflow:owner","workflowId":"MEqMXD2wxJmkQEo4","projectId":"iSekvO3CJMvHXh8X","project":{"createdAt":"2025-07-31T22:57:16.401Z","updatedAt":"2025-07-31T22:58:04.000Z","id":"iSekvO3CJMvHXh8X","name":"Paid Ad Performance - GoMarble MCP","type":"team","icon":{"type":"icon","value":"layers"},"description":"Meta, Google Ads, and GA4 data to run ad hoc queries","projectRelations":[{"createdAt":"2025-07-31T22:58:04.470Z","updatedAt":"2025-07-31T22:58:04.470Z","role":"project:admin","userId":"0ee76cf5-5066-4f4f-adb4-d75476e8d8eb","projectId":"iSekvO3CJMvHXh8X","user":{"createdAt":"2025-07-31T01:26:17.957Z","updatedAt":"2025-08-21T00:31:43.000Z","id":"0ee76cf5-5066-4f4f-adb4-d75476e8d8eb","email":"malachi@mavan.com","firstName":"Malachi","lastName":"Rose","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-21","isPending":false}}]}}],"tags":[{"createdAt":"2025-07-31T23:44:45.869Z","updatedAt":"2025-07-31T23:44:45.869Z","id":"APTZfP2LUSQ5avFz","name":"ads-automation"}]}