temp-workflow-clean.json
{
  "name": "Meta Ads Diagnostics v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,5"
            }
          ]
        }
      },
      "id": "schedule-trigger-v4",
      "name": "Monday/Friday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-field-v4",
              "name": "prompt",
              "type": "string",
              "value": "You are a senior Meta Ads performance analyst for 38TERA. Execute a diagnostics checklist for account ID \"732630268714732\" and output ONLY the final report starting immediately with the title.\n\nDATA RETRIEVAL & VALIDATION:\n- Use GoMarble MCP tools to retrieve actual campaign names, creative names, and performance data\n- Verify data covers the full reporting period for yesterday\n- Use PST/PDT timezone for \"yesterday\" calculations\n- If data is missing or incomplete, mark as \"Data unavailable\" with context\n- Exclude sandbox, testing, or draft campaigns from main analysis\n\nCAMPAIGN & CREATIVE NAMING:\n- Always use actual campaign names from the data, never placeholders like \"Campaign A\"\n- Use actual creative names from the data, never placeholders like \"Creative Name\"  \n- If names are >40 characters, truncate with \"...\"\n- Display real performance data, not placeholder values like \"X,XXX\"\n\nCRITICAL FORMATTING RULES:\n- Start immediately with: META ADS DIAGNOSTICS REPORT (no preamble)\n- Use code blocks (```) for all tables to ensure proper alignment\n- Use trend arrows: ↗️ for positive, ↘️ for negative, ➡️ for flat\n- Use status emojis: 🟢 Strong/Good, 🟡 Moderate/OK, 🔴 Poor/Alert\n- Use single asterisks (*) for Slack bold formatting, not double (**)\n- Do not include internal prompt instructions in output"
            }
          ]
        },
        "options": {}
      },
      "id": "v4-report-prompt",
      "name": "v4 Enhanced Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are an expert Meta Ads analyst with access to comprehensive advertising data through GoMarble MCP tools. Retrieve actual campaign names and performance data. Execute the analysis checklist and output ONLY the final formatted report starting immediately with the title. Use visual indicators (emojis, arrows) for quick scanning. No preamble or commentary. Include anomaly detection only for statistically significant changes. Use single asterisks for Slack bold formatting.",
          "maxIterations": 25
        }
      },
      "id": "v4-ai-agent",
      "name": "v4 AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "endpointUrl": "https://apps.gomarble.ai/mcp-api/sse",
        "authentication": "bearerAuth"
      },
      "id": "gomarble-mcp-v4",
      "name": "GoMarble MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        496,
        544
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "xdh6Yp722ibHs9Nd",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "id"
        },
        "options": {}
      },
      "id": "anthropic-model-v4",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        336,
        544
      ],
      "credentials": {
        "anthropicApi": {
          "id": "6L1pdyKeE7yG7BA1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C098MCUF6QJ",
          "mode": "list",
          "cachedResultName": "internal_38tera_reports"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-post-v4",
      "name": "Slack Post",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        736,
        304
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "kPX3XYbf07UU7kTC",
          "name": "Slack account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Monday/Friday Schedule": {
      "main": [
        [
          {
            "node": "v4 Enhanced Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v4 Enhanced Prompt": {
      "main": [
        [
          {
            "node": "v4 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v4 AI Agent": {
      "main": [
        [
          {
            "node": "Slack Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoMarble MCP Client": {
      "ai_tool": [
        [
          {
            "node": "v4 AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "v4 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}