workflows/meta-ads-diagnostics/clients/franki-b2b/main-workflow.json
{
  "name": "Franki B2B - Meta Ads Diagnostics v10",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,5"
            }
          ]
        }
      },
      "id": "schedule-trigger-v9",
      "name": "Monday/Friday 9AM PST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-field-v9",
              "name": "prompt",
              "type": "string",
              "value": "=== CLIENT CONFIGURATION ===\nCLIENT_NAME: Franki B2B\nPLATFORM: Meta Ads\nACCOUNT_ID: 815256732728440\nGOMARBLE_CREDENTIAL: Bearer Auth account (configured in n8n)\nSLACK_CHANNEL: internal_franki_b2b_reports\nPRIORITY_EVENTS: Initiate Checkout, Lead\nREPORT_SCHEDULE: 0 9 * * 1,5 (Monday/Friday 9AM PST)\n===========================\n\n=== PERFORMANCE THRESHOLDS ===\nCPIC_TARGET: $40\nCPL_TARGET: $400\nFREQUENCY_MAX: 4.0\nNO_CONV_SPEND_MIN: $250\nHIGH_CPL_THRESHOLD: $600\nHIGH_CPIC_THRESHOLD: $60\nCTR_DROP_THRESHOLD: 30%\nCPM_SPIKE_THRESHOLD: 25%\n===========================\n\nYou are a senior Meta Ads performance analyst for Franki B2B. Execute a diagnostics checklist for account ID \"815256732728440\" and output ONLY the final report.\n\nCRITICAL: Start output IMMEDIATELY with \"`META ADS DIAGNOSTICS REPORT`\" on the first line, followed by the full header line.\nNEVER include preamble text like \"Based on the data I've retrieved\" or \"I'll now create\" or ANY other text before the report title.\n\nDATA RETRIEVAL & VALIDATION:\n- Use GoMarble MCP tools to retrieve actual campaign names, creative names, and performance data\n- IMPORTANT: Retrieve data for THREE time periods:\n  * Yesterday (1 day)\n  * Day before yesterday (1 day) - for DoD% calculation\n  * Last 7 days (L7D): Yesterday and 6 days prior (full 7-day period)\n  * Previous 7 days (P7D): Days -8 through -14 (full 7-day comparison period)\n- Use PST/PDT timezone for all date calculations\n- If data is missing or incomplete, mark as \"Data unavailable\" with context\n- Exclude sandbox, testing, or draft campaigns from main analysis\n\nCAMPAIGN STATUS CHECK (CRITICAL):\n- When spend drops >50% DoD or >30% WoW, IMMEDIATELY check campaign status using facebook_get_campaign_details\n- For each active campaign from the last 7 days, retrieve:\n  * status (ACTIVE/PAUSED)\n  * configured_status (ACTIVE/PAUSED)\n  * updated_time (when last modified)\n- If campaigns are PAUSED:\n  * Note the pause time in the report\n  * Calculate hours/days since pause\n  * Add 🛑 icon to affected campaigns in tables\n- Include pause detection in Status Summary section\n\nSPEND DROP DIAGNOSTIC:\nIf yesterday's spend is <50% of average daily spend OR if L7D spend is <70% of P7D spend:\n1. Run facebook_get_campaign_details for all campaign_ids from last 14 days\n2. Check each campaign's \"status\" and \"configured_status\" fields\n3. If status == \"PAUSED\":\n   - Note the updated_time (when it was paused)\n   - Calculate time since pause\n   - Flag in report with 🛑 icon\n4. Include findings in report header if critical:\n   \"⚠️ CRITICAL: X campaigns paused on [date] - $XXX daily budget inactive\"\n\nCAMPAIGN & CREATIVE NAMING:\n- Always use actual campaign names from the data, never placeholders\n- Always use actual creative names and ad set names from the data\n- If names are >30 characters, truncate with \"...\"\n- Display real performance data, not placeholder values\n\nTRACKING EVENTS CONFIGURATION - MANDATORY:\n- ONLY use these specific conversion events: \"Initiate Checkout\" and \"Lead\"\n- NEVER use generic terms like \"Pixel Events\", \"CPE\", or \"Events\"\n- ALWAYS calculate CPIC (Cost Per Initiate Checkout) and CPL (Cost Per Lead)\n- If Initiate Checkout or Lead data is missing, mark as \"Data unavailable\" - DO NOT substitute with other events\n- For Franki B2B account, prioritize: Initiate Checkout (leading indicator) and Lead (primary conversion)\n- Primary focus: Initiate Checkout volume and CPIC efficiency, followed by Lead conversion\n- CRITICAL: Report must show \"Initiate CO\" and \"Leads\" rows, never \"Pixel Events\"\n\nTABLE FORMATTING RULES:\n- Use consistent column widths throughout each table\n- Ensure divider lines align perfectly between header and data rows\n- Add 1-2 extra spaces for padding to prevent wrapping\n- Test alignment by checking that all \"|\" characters line up vertically\n\nCRITICAL FORMATTING RULES:\n- Use code blocks (```) for all tables to ensure proper alignment\n- Use trend arrows: ↗️ for positive, ↘️ for negative, ➡️ for flat\n- Use status emojis: 🟢 Strong/Good, 🟡 Moderate/OK, 🔴 Poor/Alert, 🛑 Paused\n- Use single asterisks (*) for Slack bold formatting\n- Keep total report under 60 lines to prevent truncation\n- Date format: Always use \"Aug 22, 2025\" format (abbreviated month, day, full year)\n\nRequired output format:\n\n`META ADS DIAGNOSTICS REPORT`\nFranki B2B - Account ID: 815256732728440 - Date: [Month Day, Year format]\n\n*1. CORE PERFORMANCE METRICS*\nLast 7 Days (L7D) vs Previous 7 Days (P7D):\n\n```\nStatus | Metric          | Yesterday | DoD % | L7D          | P7D       | WoW %\n-------|-----------------|-----------|-------|--------------|-----------|-------\n🟢/🟡/🔴 | Spend           | $X,XXX    | ±XX%  | $X,XXX       | $X,XXX    | ±XX%\n🟢/🟡/🔴 | CPM             | $XX.XX    | ±XX%  | $XX.XX       | $XX.XX    | ±XX%\n🟢/🟡/🔴 | CPC             | $X.XX     | ±XX%  | $X.XX        | $X.XX     | ±XX%\n🟢/🟡/🔴 | CTR             | X.XX%     | ±XX%  | X.XX%        | X.XX%     | ±XX%\n🟢/🟡/🔴 | Initiate CO     | XXX       | ±XX%  | XXX          | XXX       | ±XX%\n🟢/🟡/🔴 | CPIC            | $XX.XX    | ±XX%  | $XX.XX       | $XX.XX    | ±XX%\n🟢/🟡/🔴 | Leads           | XXX       | ±XX%  | XXX          | XXX       | ±XX%\n🟢/🟡/🔴 | CPL             | $XXX.XX   | ±XX%  | $XXX.XX      | $XXX.XX   | ±XX%\n🟢/🟡/🔴 | Lead Rate       | X.XX%     | ±XX%  | X.XX%        | X.XX%     | ±XX%\n```\n\n*2A. CAMPAIGN PERFORMANCE (Last 7 Days)*\n\n```\nCampaign (30 char)             | Spend  | WoW%  | CPM    | WoW%  | CTR    | WoW%  | Init CO | WoW%  | Status\n-------------------------------|--------|-------|--------|-------|--------|-------|---------|-------|--------\n[Actual Campaign Name]...      | $X,XXX | ±XX%  | $XX.XX | ±XX%  | X.XX%  | ±XX%  | XXX     | ±XX%  | 🟢/🟡/🔴/🛑\n[Actual Campaign Name]...      | $X,XXX | ±XX%  | $XX.XX | ±XX%  | X.XX%  | ±XX%  | XXX     | ±XX%  | 🟢/🟡/🔴/🛑\n[Top 5 campaigns by spend]     | $X,XXX | ±XX%  | $XX.XX | ±XX%  | X.XX%  | ±XX%  | XXX     | ±XX%  | 🟢/🟡/🔴/🛑\n```\n\n[If campaign is PAUSED, show \"🛑 PAUSED\" instead of performance emoji]\n\n*2B. CAMPAIGN EFFICIENCY (Last 7 Days)*\n\n```\nCampaign (30 char)             | CPC    | WoW%  | CPIC    | WoW%  | CPL     | WoW%  | Lead Rate | WoW%  | Status\n-------------------------------|--------|-------|---------|-------|---------|-------|-----------|-------|--------\n[Actual Campaign Name]...      | $X.XX  | ±XX%  | $XX.XX  | ±XX%  | $XXX.XX | ±XX%  | X.XX%     | ±XX%  | 🟢/🟡/🔴/🛑\n[Actual Campaign Name]...      | $X.XX  | ±XX%  | $XX.XX  | ±XX%  | $XXX.XX | ±XX%  | X.XX%     | ±XX%  | 🟢/🟡/🔴/🛑\n[Top 5 campaigns by spend]     | $X.XX  | ±XX%  | $XX.XX  | ±XX%  | $XXX.XX | ±XX%  | X.XX%     | ±XX%  | 🟢/🟡/🔴/🛑\n```\n\n*3. CREATIVE PERFORMANCE SUMMARY*\n\nAlert Summary (Last 7 Days):\n🔴 High Frequency (>4.0): X creatives affecting $X,XXX spend\n🔴 No Conversions (>$250): X creatives wasting $X,XXX\n🟡 High CPIC (>$40): X creatives averaging $XXX CPIC\n🟡 High CPL (>$400): X creatives averaging $XXX CPL\n🟡 CTR Drop (>30%): X creatives with declining performance\n\nTop 3 Priority Actions:\n• [Creative Name] in [Ad Set]: [Specific issue] - [Action]\n• [Creative Name] in [Ad Set]: [Specific issue] - [Action]\n• [Creative Name] in [Ad Set]: [Specific issue] - [Action]\n\n*4. TRACKING CHECK*\nOnly show if there are tracking issues (>30% drops or zeros):\n\n⚠️ TRACKING ALERTS:\n• [Event] dropped XX% - check pixel implementation\n• [Event] at zero - verify tracking setup\n\nIf no issues, show: All conversion events tracking normally 🟢\n\n*STATUS SUMMARY:*\n🟢 ALL SYSTEMS NORMAL / 🟡 ATTENTION NEEDED / 🔴 PRIORITY ISSUES / 🛑 CAMPAIGNS PAUSED\n\n[If campaigns paused, add this line:]\n⚠️ CAMPAIGN STATUS: X of X campaigns PAUSED since [date/time] ([X days ago])\nDaily budget of $XXX currently inactive\n\nTotal spend: $X,XXX | Funnel efficiency: $XXX CPIC → $XXX CPL\n\n*Requiring Attention:*\n• [Top priority issue with specific campaign/creative]\n• [Second priority issue]\n• [Third priority issue]\n\n*KEY CHANGES THIS REPORT:*\n[If spend drop >50% and campaigns paused:]\n• 🛑 CAMPAIGNS PAUSED: All campaigns manually paused on [date] at [time], explaining XX% spend drop\n[Then continue with normal insights...]\n• [Primary driver: e.g., Prospecting campaigns drove +15% CPL increase to $450 with $3K spend]\n• [Secondary factor: e.g., CPM stable but CTR down 10% suggesting creative fatigue]\n• [Third insight: e.g., Retargeting maintaining <$300 CPL, scale opportunity]\n\n---\nData timestamp: [Last updated] | Report generated: [Current time in Month Day, Year format]\n\nPERFORMANCE THRESHOLDS:\n- CPIC: <$40 = 🟢, $40-$60 = 🟡, >$60 = 🔴\n- CPL: <$400 = 🟢, $400-$600 = 🟡, >$600 = 🔴\n- Lead trends: improving = 🟢, stable = 🟡, worsening = 🔴\n- Frequency: <3.0 = 🟢, 3.0-5.0 = 🟡, >5.0 = 🔴\n- Conversion tracking: <30% decline = 🟢, 30-70% = 🟡, >70% = 🔴\n- Campaign status: ACTIVE = 🟢, PAUSED = 🛑\n\nAnalyze the actual account data and populate all sections with real numbers and names. Only include tracking events that have historical conversion data."
            }
          ]
        },
        "options": {}
      },
      "id": "v9-config-prompt",
      "name": "v9 Client Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are an expert Meta Ads analyst with access to comprehensive advertising data through GoMarble MCP tools. Retrieve actual campaign names, creative names, and ad set names from performance data. START IMMEDIATELY with '`META ADS DIAGNOSTICS REPORT`' - no preamble text. Use condensed creative alerts format showing counts and top 3 priority actions only. Ensure perfect table alignment and include Key Changes section. Single asterisks for Slack formatting. Keep under 60 lines total. Orange title formatting with backticks.",
          "maxIterations": 25
        }
      },
      "id": "v9-ai-agent",
      "name": "v9 Production AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        360,
        340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "endpointUrl": "https://apps.gomarble.ai/mcp-api/sse",
        "authentication": "bearerAuth"
      },
      "id": "gomarble-mcp-v9",
      "name": "GoMarble MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        540,
        580
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "xdh6Yp722ibHs9Nd",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "id"
        },
        "options": {}
      },
      "id": "anthropic-model-v9",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        380,
        580
      ],
      "credentials": {
        "anthropicApi": {
          "id": "6L1pdyKeE7yG7BA1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check for Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09C1UPJHS5",
          "mode": "list",
          "cachedResultName": "internal_franki_b2b_reports"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-post-success-v9",
      "name": "Slack Post Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        820,
        260
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "kPX3XYbf07UU7kTC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-details-v9",
              "name": "errorDetails",
              "type": "object",
              "value": {
                "workflowName": "={{ $('v9 Client Configuration').item.json.clientConfig.CLIENT_NAME }} - Meta Ads Diagnostics v9",
                "clientName": "={{ $('v9 Client Configuration').item.json.clientConfig.CLIENT_NAME }}",
                "errorSlackChannel": "={{ $('v9 Client Configuration').item.json.clientConfig.ERROR_SLACK_CHANNEL }}",
                "errorEmail": "={{ $('v9 Client Configuration').item.json.clientConfig.ERROR_EMAIL }}",
                "executionId": "={{ $execution.id }}",
                "failedNode": "v9 Production AI Agent",
                "errorMessage": "={{ $json.error?.message || 'Workflow execution failed' }}",
                "executionUrl": "={{ 'https://mavan.app.n8n.cloud/executions/' + $execution.id }}",
                "timestamp": "={{ $now }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-error-data",
      "name": "Prepare Error Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09C1UPJHS5",
          "mode": "list",
          "cachedResultName": "internal_franki_b2b_reports"
        },
        "text": "🚨 *WORKFLOW FAILURE ALERT*\n\n*Workflow*: {{ $json.errorDetails.workflowName }}\n*Client*: {{ $json.errorDetails.clientName }}\n*Failed Node*: {{ $json.errorDetails.failedNode }}\n*Error*: {{ $json.errorDetails.errorMessage }}\n*Time*: {{ $json.errorDetails.timestamp }}\n*Execution ID*: {{ $json.errorDetails.executionId }}\n\n*Debug Link*: {{ $json.errorDetails.executionUrl }}\n\n❗ *Action Required*: Please investigate and resolve the issue.",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-post-error-v9",
      "name": "Slack Post Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1020,
        420
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "kPX3XYbf07UU7kTC",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Monday/Friday 9AM PST": {
      "main": [
        [
          {
            "node": "v9 Client Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v9 Client Configuration": {
      "main": [
        [
          {
            "node": "v9 Production AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v9 Production AI Agent": {
      "main": [
        [
          {
            "node": "Check for Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Success": {
      "main": [
        [
          {
            "node": "Slack Post Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Data": {
      "main": [
        [
          {
            "node": "Slack Post Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoMarble MCP Client": {
      "ai_tool": [
        [
          {
            "node": "v9 Production AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "v9 Production AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}